.nested-links a {
  color: green;
}

.nested-links a:visited {
  color: green; /* Change this to the color you want for visited links */
}

*|*:link {
  color: green;
}

*|*:link:visited {
  color: green; /* Change this to the color you want for visited links */
}